@font-face {
  font-family: 'AllerDisplay';
  src: url("../fonts/AllerDisplay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
*:before, *:after {
  content: "";
  position: absolute; }

body {
  padding: 0;
  margin: 0;
  background-color: #3B4163;
  font-family: "AllerDisplay"; }

.overlay {
  opacity: 0.8;
  background-color: #ccc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000; }

.game_over {
  color: white;
  font-size: 50px;
  position: absolute;
  left: 39%;
  top: 33%;
  z-index: 1001; }

.button {
  color: #FFB900;
  font-size: 25px;
  border: 3px dashed #FFB900;
  width: auto;
  padding: 15px 35px;
  border-radius: 12px;
  position: absolute;
  left: 42%;
  top: 53%;
  z-index: 1001; }

.inner {
  position: absolute;
  width: 80%;
  height: 600px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F5F5F5;
  border-radius: 12px; }

.hanger {
  position: absolute;
  width: 130px;
  height: 20px;
  border-radius: 0 4px 4px 0;
  background-color: #4D5258;
  top: 9%; }
  .hanger:after {
    width: 20px;
    height: 65px;
    left: 70%;
    background-color: #4D5258; }

.hangman {
  position: absolute;
  width: 130px;
  height: 300px;
  display: inline-block;
  top: 19%;
  left: 8px; }

/*======================================
Head
======================================*/
.head {
  /* head */
  position: absolute;
  z-index: 1;
  height: 108px;
  width: 74px;
  background-color: #FFCE89;
  border-radius: 40px;
  margin-left: -5%;
  left: 50%; }
  .head:before {
    /* ears */
    height: 0;
    width: 99px;
    background-color: #FFCE89;
    border-top: 26px solid #FFCE89;
    border-radius: 12px;
    margin-left: -45px;
    top: 40%;
    left: 44%; }
  .head:after {
    /* scar */
    width: 8px;
    height: 9px;
    border: solid 2px #FFC87F;
    border-color: transparent transparent transparent #FFC87F;
    border-radius: 92px 0 0 218%/46px;
    top: 10%;
    left: 23%; }

.eyes {
  /* eyes */
  position: absolute;
  width: 100%;
  top: 27%;
  left: -3px; }
  .eyes li {
    display: inline-block;
    border-radius: 50%;
    list-style: none;
    height: 10px;
    width: 10px;
    background-color: #4D5258;
    margin-left: -20px;
    margin-right: 44px;
    top: 80px;
    left: 50%; }

.beard {
  /* beard */
  position: absolute;
  height: 36px;
  width: 74px;
  background-color: #E9C68E;
  border-radius: 0 0 40px 40px;
  left: 0;
  top: 69%; }

.beard_cut_left {
  background: #FFCE89;
  z-index: 1;
  width: 28px;
  height: 13px;
  border-radius: 5px;
  position: absolute;
  top: 62%;
  transform: rotate(-26deg);
  left: 4px; }

.beard_cut_right {
  background: #FFCE89;
  z-index: 1;
  width: 28px;
  height: 13px;
  border-radius: 5px;
  position: absolute;
  top: 62%;
  transform: rotate(26deg);
  right: 4px; }

.nose {
  position: absolute;
  z-index: 1;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  left: 43%;
  top: 64%;
  background-color: #FFCE89; }

.mouth {
  height: 10px;
  width: 22px;
  border-radius: 15px 15px 0 0;
  background-color: white;
  position: absolute;
  left: 36%;
  top: 31%; }

.earings_mouth {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #365C8F;
  z-index: 1;
  position: absolute;
  left: 28%;
  top: 84%; }

.earings_right_ear {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #365C8F;
  z-index: 1;
  position: absolute;
  left: 102%;
  top: 63%; }

.neck {
  height: 25px;
  width: 20px;
  border-radius: 4px;
  background-color: #FFCE89;
  position: absolute;
  top: 34%;
  left: 66%; }

.body {
  position: relative;
  width: 63px;
  height: 99px;
  left: 50%;
  top: 42%; }

.first_rectangle {
  width: 50%;
  height: 70%;
  background-color: #88C657;
  transform: rotate(0);
  border-radius: 4px 0 0 4px;
  float: left;
  display: inline-block; }

.second_rectangle {
  width: 50%;
  height: 70%;
  background-color: #53A06E;
  transform: rotate(0);
  border-radius: 0 4px 4px 0;
  float: left;
  display: inline-block; }

.third_rectangle {
  width: 100%;
  height: 30%;
  background-color: #365C8F;
  transform: rotate(0);
  border-radius: 0 0 4px 4px;
  float: left;
  display: block; }

.left_sleeve {
  width: 30px;
  height: 71px;
  background-color: #88C657;
  transform: rotate(45deg);
  border-radius: 4px 0 0 4px;
  position: absolute;
  left: 28%;
  top: 42%; }

.right_sleeve {
  width: 30px;
  height: 71px;
  background-color: #53A06E;
  transform: rotate(-45deg);
  border-radius: 4px 0 0 4px;
  position: absolute;
  left: 96%;
  top: 42%; }

.left_hand {
  height: 10px;
  width: 22px;
  border-radius: 15px 15px 0 0;
  background-color: #FFCE89;
  position: absolute;
  transform: rotate(-135deg);
  left: 10%;
  top: 62%; }

.right_hand {
  height: 10px;
  width: 22px;
  border-radius: 15px 15px 0 0;
  background-color: #FFCE89;
  position: absolute;
  transform: rotate(135deg);
  left: 120%;
  top: 62%; }

.right_leg {
  width: 30px;
  height: 96px;
  background-color: #365C8F;
  transform: rotate(-11deg);
  border-radius: 4px 4px 4px 4px;
  position: absolute;
  left: 83%;
  top: 69%;
  z-index: 1; }

.left_leg {
  width: 30px;
  height: 96px;
  background-color: #365C8F;
  transform: rotate(11deg);
  border-radius: 4px 4px 4px 4px;
  position: absolute;
  left: 43%;
  top: 69%;
  z-index: 1; }

.right_foot {
  width: 49px;
  height: 19px;
  background-color: #FFCE89;
  transform: rotate(-11deg);
  border-radius: 8px 8px 8px 8px;
  position: absolute;
  left: 93%;
  top: 97%; }

.left_foot {
  width: 49px;
  height: 19px;
  background-color: #FFCE89;
  transform: rotate(11deg);
  border-radius: 8px 8px 8px 8px;
  position: absolute;
  left: 19%;
  top: 97%; }

.display {
  display: none; }

.triangle {
  z-index: 0 !important;
  position: absolute;
  right: -30px;
  bottom: -133px;
  width: 0;
  height: 0;
  border-top: 205px solid transparent;
  border-bottom: 205px solid transparent;
  border-left: 205px solid #4D71FA;
  transform: rotate(45deg); }

.missed_words {
  font-family: "AllerDisplay";
  color: #4D5258;
  display: inline-block;
  position: absolute;
  right: 40%;
  top: 10%;
  z-index: 1; }

#missed {
  font-family: "AllerDisplay";
  list-style: none;
  position: absolute;
  float: left;
  right: 0;
  top: 20%; }
  #missed li {
    display: inline;
    padding-left: 10px;
    color: #4D71FA;
    font-size: 45px; }

#correct {
  list-style: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
  left: -21px; }
  #correct li {
    font-family: "AllerDisplay";
    display: inline-block;
    padding-left: 10px;
    list-style: none;
    background-color: #E6E6E8;
    width: 75px;
    height: 75px;
    margin: 5px;
    border-radius: 4px;
    font-size: 50px;
    float: left;
    text-align: center;
    vertical-align: middle;
    color: white; }

/*# sourceMappingURL=style.css.map */
