// variables
$head_width: 90px;
$background_color:#3B4163;
$inner_color:	#F5F5F5;
$skin_color:	#FFCE89;
$hanger_color:#4D5258;

$scar_color: #FFC87F;
$beard_color:#E9C68E;
$mouth_color:white;
$blue_color: #365C8F;
$light_grey: 	#E6E6E8;
$light_blue:#4D71FA;
$light_green:#88C657;
$dark_green:#53A06E;
$guess_word:	#E6E6E8;
$guessed_word:#52555C;
$yellow:#FFB900;
